<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load carton_tags %}
{% get_cart as cart %}


{% for item in cart.items %}
    Item name = {{ item.product.name }}<br/>
    Item quantity = {{ item.quantity }}<br/>
    Item total = {{ item.subtotal }}<br/>
    Item restaurant ={% for restaurant in restaurant %} {{ restaurant }}{% endfor %}<br/><br/>

{% endfor %}
<br/>


You can also use this convinent shortcut:
{#{% for product in cart.products %}#}
{#    {{ product.name }}#}
{#{% endfor %}#}
</body>
</html>