{% extends 'foodMax/base_generic.html' %}

{% block body %}
    {% load static %}
    <!-- start banner Area -->
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-start">
                <div class="banner-content col-lg-8 col-md-12">
                    <h4 class="text-white text-uppercase">Order Tasty Meals Online</h4>
                    <h1>
                        Select your location
                    </h1>
                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i></div>
                        <div class="form-select" id="default-select" style="width: 90%">
                            <form id="#rest" method="post" action="{% url 'restaurant' %} ">
                                {% csrf_token %}
                                <select name="location">
                                    {% if coverage %}
                                        {% for city in coverage %}
                                            <option value="{{ city.name }}">{{ city.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                                <input type="submit" class="primary-btn header-btn text-uppercase"
                                       style="margin-top: 20px;" value="Find restaurants"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start top-dish Area -->
    <section class="top-dish-area section-gap" id="dish">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Our Top Rated Dishes</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="single-dish col-lg-4">
                    <div class="thumb">
                        <img class="img-fluid" src="{% static 'img/d1.jpg' %}" alt="">
                    </div>
                    <h4 class="text-uppercase pt-20 pb-20">Bread Fruit Cheese Sandwich</h4>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        women face higher conduct.
                    </p>
                </div>
                <div class="single-dish col-lg-4">
                    <div class="thumb">
                        <img class="img-fluid" src="{% static 'img/d2.jpg' %}" alt="">
                    </div>
                    <h4 class="text-uppercase pt-20 pb-20">Beef Cutlet with Spring Onion</h4>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        women face higher conduct.
                    </p>
                </div>
                <div class="single-dish col-lg-4">
                    <div class="thumb">
                        <img class="img-fluid" src="{% static 'img/d3.jpg' %}" alt="">
                    </div>
                    <h4 class="text-uppercase pt-20 pb-20">Meat with sauce & Vegetables</h4>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        women face higher conduct.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End top-dish Area -->


    <!-- start footer Area -->
{% endblock %}