{% extends 'foodMax/base_generic.html' %}
{% load static %}
{% load humanize %}
{% load carton_tags %}
{% get_cart as cart %}

{% block body %}

    <section class="generic-banner relative"
             style="height:360px !important;background: #f42f2c url({{ restaurant.cover_image.url }}) right;">
        <div class="container-fluid">
            <div class="row  align-items-center justify-content-center" style="padding-top:100px;">
                <div class="col-md-10">
                    <div class="detail_box" style="margin-top: -50px;">
                        <h4 class="text-uppercase jheader pt-10 pb-0"><a style="color: #000;"
                                                                         href="{{ restaurant.get_absolute_url }}">{{ restaurant.name }}</a>
                        </h4><br/>
                        <p style="padding-bottom: -6% !important;text-align: left"><a class="text-muted"
                                                                                      href="{{ restaurant.get_absolute_url }}">Healthy
                            •
                            Juice and Smoothies • Vegetarian •
                            Acai</a></p>
                        <p style="text-align: left"><span class="rest_back">4.5 <i style="color: gold"
                                                                                   class="fa fa-star"></i> <span
                                style="color: #A4A4AC; font-family: SansSerif,sans-serif;">(176)</span></span>
                            <span
                                    class="rest_back">&#8358;&#8358;</span> <span
                                    class="rest_back">

                                {% for coverage in restaurant.coverage.all %}
                                    {{ coverage.time_needed }} min
                                {% endfor %}
                            </span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->


    <div class="sticky-top shadow-lg category_cover" style="top:56px;" id="mini">
        <div class="container" id="navbarCodeply">
            <ul class="category">
                {% for item in restaurant.menu.all %}
                    <li><a class="anchor" href="#{{ item.name }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <!-- About Generic Start -->
    <div class="main-wrapper">
        <!-- Start team Area -->
        <section class="team-area pt-100" id="team" style="margin-top: -50px">
            <div class="container">
                <nav aria-label="breadcrumb" style="font-size: 13px; margin-left: -12px;">
                    <ol class="breadcrumb" style="background: #f9f9ff">
                        <li class="breadcrumb-item"><a class="text-danger" href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item" onclick="history.back()" aria-current="page"><a href="#"
                                                                                                    class="text-danger">Restaurants</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ restaurant }}</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-md-8">
                        {% for menu in restaurant.menu.all %}
                            <h3 id="{{ menu.name }}" class="mb-30">{{ menu.name|capfirst }}</h3>

                            <div class="row" style="margin-bottom: 37px">
                                {% for sub in menu.dish.all %}

                                    <div id="{{ sub.id }}{{ menu.name }}"
                                         onclick="AjaxAdd('{% url 'add_to_cart' %}?dish_id={{ sub.id }}')"
                                         class="col-md-6 col-sm-6 jclick">
                                        <div class="dish_box">
                                            {% if forloop.counter0|divisibleby:1 %}
                                                <div class="row flex-nowrap">{% endif %}
                                            <div class="col-md-8">
                                                <br/>
                                                <p id="{{ sub.id }}{{ menu.name }}_menu_name"
                                                   class="dish_header text-danger">{{ sub.name }} - Meal</p>
                                                <p>Price : &#8358;{{ sub.price|intcomma }}</p>

                                            </div>
                                            <div class="col-md-4 col-sm-6 text-danger">
                                                <img src="{{ sub.dish_image.url }}"
                                                     style="height: 80px; width: 100%;background-position: center center;">
                                            </div>
                                            {% if forloop.counter|divisibleby:1 or forloop.last %}</div>{% endif %}
                                        </div>
                                        {#                                        </a>#}

                                    </div>

                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>

                    <!---Checkout Section--->
                    <div class="col-md-4" style="margin-top: 60px;">
                        <div class="sticky-top j_card_header" style="top: 120px;">
                            <a href="{% url 'email_order' %}?restaurant={{ restaurant.id }}" class="genric-btn primary radius  text-white"
                               style="width: 100%; top:120px; background: #dc3545 !important; font-size: 16px">Checkout</a>
                            <hr style="margin-bottom: -48px;"/>
                            <br/>

                        </div>
                        <div class="sticky-top unset_z" id="checkout_box" style="top:188px;">
                            <div class="jcard sticky-top" style="top:188px;">
                                <div class="jcontainer">

                                    {% for item in cart.items %}
                                        <div id="{{ item.product.id }}">
                                            <div class="row" style="margin-bottom: 10px;">
                                                <div class="col-md-4">
                                                    <div style="margin-left: 5px">
                                                        <span onclick="minus_quantity('{% url 'minus_quantity' %}?dish_id={{ item.product.id }}&quantity={{ item.quantity }}')"
                                                              style="color: #dc3545"><i
                                                                class="fa fa-minus-circle"></i></span><span
                                                            style="padding: 10px;">{{ item.quantity }}</span><span
                                                            onclick="add_quantity('{% url 'add_quantity' %}?dish_id={{ item.product.id }}&quantity={{ item.quantity }}')"
                                                            style="color: #dc3545"><i
                                                            class="fa fa-plus-circle"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <p>{{ item.product.name }}

                                                    </p></div>
                                                <div class="col-md-4">
                                                    <p class="prices ">&#8358;{{ item.subtotal|intcomma }} </p>
                                                    <span onclick='AjaxRemove("{% url 'remove_from_cart' %}?dish_id={{ item.product.id }}",{{ item.product.id }})'
                                                          style="float:right; margin-top: -40px;"> <i
                                                            class="fa fa-remove"></i></span>
                                                </div>

                                            </div>
                                            <hr style="margin-top: -18px"/>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="sticky-top j_card_footer" style="top: 1px;">
                                {% if cart.total != 0 %}
                                    <div id="subtotal">
                                        <p class="total">Subtotal : ({{ cart.count }} {% if cart.count > 1 %}
                                            items{% else %}item {% endif %}) <span
                                                style="float: right">&#8358;{{ cart.total|intcomma }}</span></p>
                                    </div>
                                {% else %}
                                    <p id="cart_add_message">Add items to your basket and they’ll appear here.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <br/>
        </section>
    </div>


    {% block script %}
        <script>
            $("#mini").scrollspy(
                {
                    offset: -145,
                    animate: true
                }
            );

            function add_quantity(add_url) {
                NProgress.start();

                $.ajax({
                    url: add_url,
                    success: function () {
                        $("#checkout_box").load("{% url 'restaurant_detail' restaurant.id%} #checkout_box", function () {
                            NProgress.done();
                        });
                    },
                    error: function () {
                        alert("Couldn't increment quantity");
                        NProgress.done();
                    }
                })

            }

            function minus_quantity(minus_url) {
                NProgress.start();
                $.ajax({
                    url: minus_url,
                    success: function () {
                        $("#checkout_box").load("{% url 'restaurant_detail' restaurant.id%} #checkout_box", function () {
                            NProgress.done();
                        });
                    },
                    error: function () {
                        alert("Couldn't decrement quantity");
                        NProgress.done();
                    }
                })
            }

            function AjaxAdd(add_url) {
                NProgress.start();
                $.ajax({
                    url: add_url,
                    success: function (response) {
                        $("#checkout_box").load("{% url 'restaurant_detail' restaurant.id%} #checkout_box", function () {
                            NProgress.done();
                        });
                    },
                    error: function () {
                        alert("Couldn't add item");
                        NProgress.done();
                    }
                })

            }

            function AjaxRemove(remove_url, id) {
                NProgress.start();
                $.ajax({
                    url: remove_url,
                    success: function (response) {
                        $('#' + id).slideUp(500);
                        NProgress.done();
                        $("#remove_alert").fadeTo(2000, 500).slideUp(500, function () {
                            $("#remove_alert").slideUp(500);
                        });
                        $("#checkout_box").load("{% url 'restaurant_detail' restaurant.id%} #checkout_box", function () {
                            NProgress.done();
                        });
                    },
                    error: function () {
                        alert("Couldn't remove item");
                        NProgress.done();
                    }
                })
            }

        </script>
    {% endblock %}
{% endblock %}